html, body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
body {
    /* background-color: red; */
    background-image: linear-gradient(to bottom, #69daff, #ffe6f2);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Pacifico', cursive;
  }
  #app {
    max-width: 480px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  h1 {
    color: #30a5df;
    font-size: 36px;
    text-align: center;
  }
  #taskForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  #taskInput {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
  }
  #taskInput:focus {
    border-color: #69dfff;
    box-shadow: 0 0 10px #69daff80;
  }
  .testInput{
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
  }
  .testInput:focus {
    border-color: #69dfff;
    box-shadow: 0 0 10px #69daff80;
  }
  button[type="submit"] {
    background-color: #69daff;
    width: 100px;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #0e979e;
  }
  .updateButton, .deleteButton,.saveButton {
    background-color: #4CAF50; /* Green */
    border: none;
    width: 100px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .updateButton:hover, .deleteButton:hover, .saveButton:hover {
    background-color: #5f9562;
  }
  
  #taskList {
    list-style: disc;
    padding: 0;
    margin: 20px 20px;
  }
  #taskList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  #taskList li:last-child {
    border-bottom: none;
  }